body{
    font-size: 10px;
}
.thumbnail-title{
    display: block;
    margin: 0;
    padding: 4px 10px;
    background: rgb(96, 125, 139);
    color: rgb(202, 238, 255);
    font-size: 18px;
}
a{
    text-decoration: none;
}